.landing {
  font-family: "Quicksand", sans-serif;
  background-image: url("../Images/tulipbg.jpg");
  height: 100vh;
  background-size: cover;
  opacity: 0.75;
  width: 100%;

  section {
    width: 280px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid gray;
    border-radius: 40px;
    background-color: white;
    opacity: 0.9;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      width: 180px;
      margin-bottom: 10px;
    }
    a {
      height: 35px;
      width: 150px;
      border: 1px solid black;
      font-size: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
    }
    a:hover {
      color: #98beab;
      cursor: pointer;
    }
  }
}

.mission-container {
  border-top: 1px solid grey;
  opacity: 1;
  color: black;
  padding-top: 20px;
  margin: 18px;
  font-size: 20px;
  text-align: center;
}
