.landing {
  font-family: "Quicksand", sans-serif;
  background-image: url("../Images/tulipbg.jpg");
  height: 100vh;
  background-size: cover;
  opacity: 0.75;
  width: 100%;

  section {
    width: 25em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    opacity: 0.95;
    height: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      width: 180px;
      margin-bottom: 0.5em;
    }
    a {
      width: 8em;
      height: 2em;
      font-size: 1.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      color: black;
      background-color: #98beab;
      a:hover {
        color: #98beab;
        cursor: pointer;
      }
    }
  }
}

.mission-container {
  border-top: 1px solid grey;
  opacity: 1;
  color: black;
  padding-top: 1.5em;
  margin: 1.5em 0;
  font-size: 20px;
  text-align: center;
}
