.services {
  font-family: "Quicksand", sans-serif;

  .service-container {
    border: 1px dotted black;

    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .image-container {
      position: relative;
      text-align: center;
      a {
        color: white;
      }
      h1 {
        font-family: "Days One", sans-serif;
        font-size: 2em;
        margin: 0.5em 0;

        width: 100%;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      img {
        height: 22em;
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
      }
    }
    a {
      color: #ae85aa;
    }
    img {
      height: 22em;
      width: 100%;
      border-radius: 10px;
    }
    .service-info {
      width: 95%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h5 {
        font-family: "Days One", sans-serif;
        padding-top: 1.3em;
        font-size: 2em;
      }
      p {
        font-size: 1.5em;
        line-height: 1.2em;
        text-align: center;
        padding: 1.2em 0;
      }
      .liner {
        border-top: 1px dotted #ae85aa;
        width: 90%;
      }
      p:last-child {
        padding-bottom: 1em;
      }
    }
  }
}

//DELIVERY INFO
.deliveryinfo {
  font-family: "Quicksand", sans-serif;
  .delivery-info-container {
    border: 1px dotted black;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-family: "Days One", sans-serif;
      font-size: 2em;
      margin: 0.5em 0;
    }
    .heading-container {
      padding: 1.5em;
      h5 {
        line-height: 1.3em;
        font-size: 1.5em;
        text-align: center;
      }
      a {
        color: #ae85aa;
      }
    }

    h6 {
      font-size: 1.4em;
      text-align: center;
    }
    p {
      font-size: 1.2em;
      line-height: 1.3em;
    }
    .image-container {
      position: relative;
      text-align: center;
      h1 {
        font-family: "Days One", sans-serif;
        font-size: 2em;
        margin: 0.5em 0;

        width: 100%;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      img {
        height: 22em;
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
      }
    }
    .container-holder {
      display: flex;
      width: 100%;
      justify-content: center;

      .container-service {
        width: 100%;
        border-top: 3px dotted black;
        border-bottom: 3px dotted black;
        padding: 1em 0;
        margin: 1em;
        ul {
          margin-left: 1em;
          padding-top: 1em;
          li {
            font-size: 1.2em;
            line-height: 1.5em;
          }
          .last-li {
            padding-top: 1em;
          }
        }
      }
    }
  }
}

//WEDDING CONSULTATION
.wedding-consult {
  font-family: "Quicksand", sans-serif;
  .wedding-container {
    border: 1px dotted black;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .image-container {
      position: relative;
      text-align: center;
      h1 {
        font-family: "Days One", sans-serif;
        font-size: 2em;
        margin: 0.5em 0;

        width: 100%;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      img {
        height: 22em;
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
      }
    }
    h4 {
      font-size: 1.3em;
      text-align: center;
      padding: 1em;
    }
    form {
      width: 80%;
      .info-container {
        display: flex;
        flex-direction: column;
        h2 {
          font-family: "Days One", sans-serif;
          font-size: 1.4em;
          color: #ae85aa;
          font-weight: bold;
          margin: 0.5em 0em;
        }
        label {
          font-size: 1.2em;
        }
        input {
          height: 2em;
          margin-bottom: 1.5em;
          border: 1px solid black;
        }
        textarea {
          width: 100%;
          height: 4em;
          resize: none;
          margin-bottom: 1.5em;
          border: 1px solid black;
        }
      }
      .input-container {
        display: flex;
        align-items: center;
        margin-left: 20px;
        input {
          width: 20px;
          margin-right: 12px;
          margin-bottom: 0em;
        }
        p {
          font-size: 20px;
        }
      }
    }
    button {
      height: 2em;
      width: 10em;
      background-color: #98beab;
      border-radius: 10px;
      font-size: 1.4em;
      color: black;
      margin-bottom: 1.4em;
    }
    button:hover {
      border: 1px solid #ae85aa;
    }
  }
}
.text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: black;
  h5 {
    font-size: 1.3em;
    text-align: center;
    padding: 0.2em 0em;
  }
  h5:last-child {
    padding-bottom: 1.5em;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    cursor: pointer;
    color: #98beab;
  }
}
