.services {
  font-family: "Quicksand", sans-serif;

  .service-container {
    border: 1px dotted black;

    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .image-container {
      position: relative;
      text-align: center;
      a {
        color: white;
      }
      h1 {
        font-family: "Days One", sans-serif;
        font-size: 2em;
        margin: 0.5em 0;

        width: 100%;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      img {
        height: 22em;
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
      }
    }
    a {
      color: black;
    }
    img {
      height: 22em;
      width: 100%;
      border-radius: 10px;
    }
    .service-info {
      width: 95%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h5 {
        font-family: "Days One", sans-serif;
        padding-top: 1.3em;
        font-size: 2em;
      }
      p {
        font-size: 1.5em;
        line-height: 1.2em;
        text-align: center;
        padding: 1.2em 0;
      }
      .liner {
        border-top: 1px dotted purple;
        width: 90%;
      }
      p:last-child {
        padding-bottom: 1em;
      }
    }
  }
}

.deliveryinfo {
  font-family: "Quicksand", sans-serif;
  .delivery-info-container {
    border: 1px dotted black;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-family: "Days One", sans-serif;
      font-size: 2em;
      margin: 0.5em 0;
    }
    .heading-container {
      padding: 1.5em;
      h5 {
        line-height: 1.3em;
        font-size: 1.5em;
        text-align: center;
      }
    }

    h6 {
      font-size: 1.4em;
      text-align: center;
    }
    p {
      font-size: 1.2em;
      line-height: 1.3em;
    }
    .image-container {
      position: relative;
      text-align: center;
      h1 {
        width: 100%;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      img {
        height: 22em;
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
      }
    }
    .container-holder {
      display: flex;
      width: 100%;
      justify-content: center;

      .container-service {
        width: 100%;
        border-top: 3px dotted black;
        border-bottom: 3px dotted black;
        padding: 1em 0;
        margin: 1em;
        ul {
          margin-left: 1em;
          padding-top: 1em;
          li {
            font-size: 1.2em;
            line-height: 1.5em;
          }
          .last-li {
            padding-top: 1em;
          }
        }
      }
    }
  }
}
