.bouquet-gallery {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 20px 0;
    font-size: 35px;
  }

  .link-header {
    margin: 15px 0;
    a {
      padding: 0 10px;
      color: black;
      text-decoration: none;
      font-size: 1.3em;
      &:hover {
        color: #98beab;
      }
    }
  }
  .bouquet-photo-container {
    section {
      margin: 20px;

      border: 1px dotted black;
      border-radius: 10px;
      display: flex;
      flex-direction: column;

      align-items: center;
      h2 {
        font-size: 2em;
        margin: 1em;
        text-align: center;
      }
      .photo-container {
        display: flex;

        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .photo-holder-container {
          display: flex;
          flex-direction: column;

          margin: 0.3rem;
          width: 18rem;
          height: 21rem;
          position: relative;
          overflow: hidden;
          text-align: center;
          img {
            // transition: 0.6s ease;
            width: 18rem;
            height: 18rem;
            object-fit: cover;
            max-width: 100%;
            z-index: 0;
            border-radius: 5px;
          }
          h2 {
            margin: 0 auto;
            font-size: 1.2em;
          }
          .overlay-gal {
            width: 18rem;
            height: 18rem;
            position: absolute;
            background: rgba(148, 107, 160, 0.461);
            position: absolute;
            left: 0;
            top: 0;
            // bottom: 0;
            // right: 0;
            transition: all 0.4s ease-in-out 0s;
            opacity: 0;
            z-index: 1;
            border-radius: 5px;
          }
          &:hover .overlay-gal {
            opacity: 1;
          }
          .content-details {
            top: 45%;
            left: 50%;
            position: absolute;
            text-align: center;
            width: 100%;
            opacity: 0;
            transform: translate(-50%, -50%);
            transition: all 0.3s ease-in-out 0s;
            z-index: 1;
            p {
              font-size: 1.2em;
              color: white;
              // text-align: start;
              padding: 1em;
              text-align: center;
            }
          }
          &:hover .content-details {
            opacity: 1;
            cursor: pointer;
          }
          // &:hover img {
          //   transform: scale(1.2);
          // }
        }
      }
    }
  }
}
