.admin-layout {
  font-family: "Quicksand", sans-serif;
  background-color: #f6f7f5;
  height: 100%;
  width: 100%;

  // Admin Navigation
  .admin-nav {
    background-color: tan;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    a {
      font-size: 18px;
      text-decoration: none;
      padding: 0 10px;
      color: black;
      &:hover {
        color: white;
      }
    }
  }

  // Admin Home Page
  .admin-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    h2 {
      font-size: 20px;
    }
  }
  .item-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    .card {
      margin: 5px;
    }
    .card-title {
      margin: 0;
    }
    .buttons {
      padding: 5px;
      display: flex;
      // flex-direction: row;
      justify-content: space-around;
      align-items: center;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        border-radius: 5px;
        width: 100px;
        height: 35px;
        background-color: #c8bfdb;
      }
    }
    button {
      display: flex;
      justify-content: center;
      width: 100px;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
  .inquiry-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    .nav-tabs {
      padding-bottom: 2px;
      border-bottom: 1px black solid;
      width: 80%;
    }
  }
}

.error-admin {
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

//Create Form Modal
.modal-content {
  font-family: "Quicksand", sans-serif;

  .admin-create-form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    div {
      width: 100%;
      padding: 10px;
      input {
        width: 100%;
      }
      textarea {
        width: 100%;
        height: 5em;
        resize: none;
      }
      select {
        width: 100%;
      }
    }
  }
}

//Admin Login
.admin-login {
  font-family: "Quicksand", sans-serif;
  padding-top: 100px;
  display: flex;
  justify-content: center;

  .admin-container {
    border-radius: 10px;
    width: 70%;
    .login-or-register {
      h3 {
        font-size: 24px;
        text-align: center;
        padding: 10px;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        width: 100px;
        margin: 0 auto;
      }
    }
  }
  .input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    input {
      margin-bottom: 10px;
    }
  }
}
