.about-page {
  font-family: "Quicksand", sans-serif;

  .about-container {
    border: 1px dotted black;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .line {
      width: 80vw;
      border: 0;
      border-top: 1px solid black;
      margin: 0.8em auto;
      // padding-top: 10px;
      height: 1px;
    }
    section {
      margin: 0 3em;
      img {
        width: 20em;
        height: 20em;
        overflow: hidden;
        margin: 0.5em;
        border-radius: 10px;
      }
      h6 {
        font-family: "Days One", sans-serif;
        font-size: 2em;
        margin: 0.5em 0;
        text-align: center;
      }
      p {
        line-height: 1.2em;
        font-size: 1.3em;
        padding-top: 1em;
      }
      p:last-child {
        padding-bottom: 1.5em;
      }
    }
  }
}
