.about-container {
  font-family: "Quicksand", sans-serif;
  width: 100%;
  background-color: white;
  background-image: url(../Images/bg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    opacity: 0.9;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid gray;
    border-radius: 10px;
    width: 90vw;
    height: 60vh;
    padding: 2em;
  }
  h1 {
    font-size: 40px;
    margin: 0 auto;
  }
  p {
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    padding-top: 10px;
  }
}

.mission {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  img {
    width: 350px;
  }

  article {
    display: flex;

    margin: 1.5em;
    text-align: start;
    padding-left: 10px;
    font-size: 20px;
    width: 550px;
  }
}
