.contact-container {
  font-family: "Quicksand", sans-serif;
  height: 100vh;
  background-image: url("../Images/tulipsingle.jpg");
  background-size: cover;
  width: 100%;
  opacity: 0.85;

  section {
    width: 450px;
    background-color: white;
    opacity: 0.9;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;

    h1 {
      font-size: 35px;
      margin: 0 auto;
    }
    p {
      font-size: 14px;
      text-align: center;
      margin: 5px;
      width: 80%;
    }
  }

  form {
    display: flex;
    //  justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;

    input {
      font-size: 15px;
      height: 25px;
      width: 80%;
      margin-bottom: 15px;
      border: 1px solid gray;
      border-radius: 5px;
    }
    label {
      font-weight: bold;
      font-size: 15px;
      margin: 0;
      width: 80%;
    }
    textarea {
      font-size: 15px;
      width: 80%;
      height: 50px;
      resize: none;
      margin-bottom: 15px;

      border: 1px solid gray;
      border-radius: 5px;
    }
    button {
      height: 30px;
      width: 150px;
      background-color: #98beab;
      border-radius: 5px;
      font-size: 15px;
      color: black;
      margin-bottom: 10px;
    }
    button:hover {
      border: 1px solid #ae85aa;
    }
  }
}
.text-container {
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  position: absolute;
  bottom: 30px;
  a {
    text-decoration: none;
    color: white;
    margin: 0 5px;
  }
  a:hover {
    cursor: pointer;
    color: #98beab;
  }
}
