.gallery {
  .gal-container {
    font-family: "Quicksand", sans-serif;
    border: 1px dotted black;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;

    // h1 {
    //   font-size: 40px;
    //   width: 100%;
    //   text-align: center;
    //   margin: 20px 0px;
    // }
    .sub1 {
      display: flex;
      .overflow-1 {
        padding: 10px;
        width: 80em;
        height: 30em;
        position: relative;
        overflow: hidden;

        img {
          width: 80em;
          height: 30em;
          object-fit: cover;
          max-width: 100%;
          z-index: 1;
          border-radius: 10px;
        }
      }
      .overflow-2 {
        padding: 10px;
        width: 50em;
        height: 30em;
        position: relative;
        overflow: hidden;
        img {
          width: 50em;
          height: 30em;
          object-fit: cover;
          max-width: 100%;
          z-index: 1;
          border-radius: 10px;
        }
      }
    }
    .sub2 {
      display: flex;
      .overflow-4 {
        padding: 10px;
        width: 80em;
        height: 30em;
        position: relative;
        overflow: hidden;
        img {
          width: 80em;
          height: 30em;
          object-fit: cover;
          max-width: 100%;
          z-index: 1;
          border-radius: 10px;
        }
      }
      .overflow-3 {
        padding: 10px;
        width: 50em;
        height: 30em;
        position: relative;
        overflow: hidden;
        img {
          width: 50em;
          height: 30em;
          object-fit: cover;
          max-width: 100%;
          z-index: 1;
          border-radius: 10px;
        }
      }
    }
    .sub3 {
      display: flex;
      .overflow-5 {
        padding: 10px;
        width: 80em;
        height: 30em;
        position: relative;
        overflow: hidden;
        border-radius: 4px;
        img {
          width: 80em;
          height: 30em;
          object-fit: cover;
          max-width: 100%;
          z-index: 1;
          border-radius: 4px;
        }
      }
      .overflow-6 {
        padding: 10px;
        width: 50em;
        height: 30em;
        position: relative;
        overflow: hidden;
        img {
          width: 50em;
          height: 30em;
          object-fit: cover;
          max-width: 100%;
          z-index: 1;
          border-radius: 10px;
        }
      }
    }
  }
}
