.gallery {
  .gal-container {
    font-family: "Quicksand", sans-serif;
    border: 1px dotted black;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    .center-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
    }
    .sub1 {
      display: flex;
      position: relative;

      .overflow-1 {
        padding: 10px;
        width: 80em;
        height: 28em;
        position: relative;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.7);
        opacity: 0;
        transition: all 0.4s ease-in-out 0s;
        &:hover .center-text {
          top: 50%;
          left: 50%;
          opacity: 1;
        }
        img {
          width: 80em;
          height: 28em;
          object-fit: cover;
          max-width: 100%;
          z-index: 1;
          border-radius: 10px;
        }
      }
      .overflow-2 {
        padding: 10px;
        width: 50em;
        height: 28em;
        position: relative;
        overflow: hidden;
        img {
          width: 50em;
          height: 28em;
          object-fit: cover;
          max-width: 100%;
          z-index: 1;
          border-radius: 10px;
        }
      }
    }
  }
}
