.footer-container {
  width: 100%;
  font-family: "Quicksand", sans-serif;
  height: 100%;
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  padding: 20px 0;
  .ig-container {
    width: 100%;
    font-family: "Quicksand", sans-serif;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 200px;
      width: 200px;
      object-fit: cover;
      animation: appear 1s;
      animation-fill-mode: forwards;
    }
    @keyframes appear {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    h1 {
      position: absolute;
      font-size: 37px;
      font-weight: bold;
      color: #98beab;
      background-color: white;
      opacity: 0.8;
      height: 47px;
      width: 95%;
      text-align: center;
    }
  }
  a {
    margin: 5px;
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: #ae85aa;
  }
}
